/*class-selectors, id-selectors, and tag-selectors.*/
/*provide styling <span>*/
/*use a css element not covered in class, look at w3schools*/
h1{
    text-align: center;
    position: relative;
    left: 1px;
    margin-top: 75px;
}
h2{
    text-align: center;
    color: limegreen;
    position: absolute;
    margin: 2px;
    left: 42%;
}
div{
    padding: 5px;
}
a:link{
    color: #ff506b;
    font-family: Arial;
}
a:visited{
    color: #ff506b;
    font-family: Arial;
}
ul{
    list-style: none;
}
ul li:before{

    content: "//";
}
th{
    padding: 5px;
}
img{
    position: absolute;
    margin-bottom: 1px;
}
form{
    text-align: center;
}
p{
    text-align: left;
}
table{
    padding:1px;
}
span{
    color: red;
}
.content-bx{
    position: relative;
    margin: 1px;
    left: 32%;
    top: 32px;
    color: white;
    padding: 25px;
    border: 1px;
    width: 500px;
    text-align: left;
    font-family: Arial;
}
#h4{
    color: gold;
    text-align: left;
    top: 708px;
    padding: 10px;
    position: absolute;
    left: 39%;
}
#profile-pic{
    top: 120px;
    left: 10px;
    width: 12%;
    height: 35%;
    margin-left: 100px;
}
#school-pic{
    top: 400px;
    margin-left: 115px;
    width: 10%;
}
#menu{
    position: absolute;
    left: 25%;
    top: 5%
}